@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bangalore<br />
    Redmond, WA 7411364560<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@IMDB.com">Support@IMDB.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@IMDB.com">Marketing@IMDB.com</a>
</address>